/* about --------------------------------- */


.about_inner {}

.section_wrap,
.about_text_wrap,
.client_title {
  width: 90%;
  max-width: 90vw;
  margin: 2rem auto;
  clear: both;
}

/* Large Sreen / ≥ 1024px */
@media screen and (min-width: 64em) {

}

/* Extra Large Sreen / ≥ 1280px */
@media screen and (min-width: 80em) {
    .section_wrap {
      max-width: 1200px;
    }
}

.about_info {
  padding: 10vh 0 6vh ;
}

.about_title {
  color:var(--green);
  /* background-color: var(--dark-grey); */
  /* filter:drop-shadow(1px 1px 0px var(--dark-grey)) */
}

.about_description {
  font-size: 1.4rem;
  font-weight: 300;
}
.about_description span {
  color: #fff;
  background-color: #50e3c2;
}
.about_body {}
.about_copy {
  max-width: 800px;
  /* columns: 2; */
}
.about_copy p.copy {
  font-size: 1.2rem;
  line-height: 1.75;
}

@media screen and (min-width: 48.01em) {
  .about_copy ul {
      column-count: 2;
  }
}
@media screen and (max-width: 48em) {
  .about_copy li {
      display: inline-block;
      margin-right: 2rem;
      list-style: disc;
  }
  .about_copy li:before {
    content: '\25CF';
    display: inline-block;
    position: absolute;
    margin-left: -1.0rem;
    margin-top: 0.25rem;
  }
}

.about_copy a {}
.about_copy a:hover {}

.about_copy a {
  background-color: var(--main-color);
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
}

.about_copy p a,
.about_copy a {
  display: block;
  max-width: 300px;
  text-align: center;
  margin: 2em 0;
  transition: var(--trans_lr_fadeout);
  transform: scale(1);
}
/* max-width 768px, portrait tablet */
@media only screen and (max-width: 48em) {
  .about_copy a {
    max-width: unset !important;
    width: 100% !important;
    transition: var(--trans_lr_fadein);
    transform: scale(1);
  }
}

.about_copy a:hover {
  background-color: var(--main-secondary-color);
  transition: var(--trans_lr_fadein);
  transform: scale(1.025);
  letter-spacing: 1.01;
}

.about_copy a:active {
  background-color: var(--main-dark-grey);
}

.about_copy a:visited {
  background-color: white;
}

.client_title {}
.client_title_heading {}

.client_section {
    margin-bottom: 9rem;
}
.client_wrap {
  justify-content: space-around;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  padding-top: 1vh;

}
.client_wrap::after, .client_title::after, .section_wrap::after {
  clear: both;
}

.client_logo {
  /* padding: 1vh; */
  /* transform: translate(0, 50%); */
  width: 20%;
  max-width: 20%;
  margin-right: 0;
  margin-bottom: 40px;
  text-align: center;

}

.client_logo img {
  max-width: 150px;
  width: 15vw;

}

.client_logo img {
  opacity: .3;
  filter: grayscale();
  -webkit-filter: grayscale();
  transform: scale(1.0);
  -webkit-transform: scale(1.0);
  -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
}

.client_logo:hover img {
  opacity: 1;
  filter:  none;
  -webkit-filter: none;
  transform: scale(1.1);
}


/* max-width 1024px, portrait tablet */
@media only screen and (max-width: 64em) {
  .client_logo {
  }
  .client_logo img { max-width: 150px; }
}
/* max-width 768px, portrait tablet */
@media only screen and (max-width: 48em) {
  .client_logo{
    width: 22.5vw;
    margin-right: 6.25%;
    margin-bottom: 40px;
  }
  .client_logo img { max-width: 22.5vw; }
}
/* Extra Large Sreen / ≥ 1280px */
@media screen and (min-width: 80em) {
    /* .client_logo:nth-of-type(1) { text-align: left;}
    .client_logo:nth-of-type(5) { text-align: right; } */
}


/* max-width 768px, portrait tablet */
@media only screen and (max-width: 48em) {
  .about_info { padding: 10vh 15px 12vh ; }

}
@media only screen and (max-width: 36em) {
  .about_info { padding-top: 3vh; }

}
