/* base / reset --------------------------------- */

/*
limiting the font to known letters — perhaps for a logo or heading, e.g:
https://fonts.googleapis.com/css?family=Inconsolata&text=hello
*/

/* 
https://coolors.co/ffffff-50e3c2-8f50e2-7b2de1-0fbd94-266d5d-2d2d2d
https://coolors.co/ffffff-ebebeb-999999-2d2d2d-8f50e2-7b2de1-50e3c2-0fbd94-266d5d

--white: #ffffff;
--turquoise: #50e3c2;
--purple-x-11: #8f50e2;
--blue-violet: #7b2de1;
--mountain-meadow: #0fbd94;
--illuminating-emerald: #009471;
--jet: #2d2d2d;

*/

:root {
  --main-color: #50e3c2; /* green */
  --alt_green: #00ffae; /* alt-green */
  --main-color-light: #8fedd8; /* light-green */
  --main-color-dark: #008C6E; /* dark-green #00856A */
  --main-secondary-color: #BC85FF; /* purple */
  --main-secondary-color-dark: #8B63BD; /* dark-purple */
  --main-secondary-color-light:#D8B8FF;  /* light-purple */
  --main-dark-grey: #363636; /* dark grey */
  --main-light-grey: #999999; /* light grey */
  --v-light-grey: #f1f5fa; /* very light grey */
  /* */
  --normal-type: "Raleway", Arial, sans-serif;
  /* font-weight:400; */
  --bold-type: "Raleway", Arial, sans-serif;
  /* font-weight:700; */
  --light-type: "Raleway", Arial, sans-serif;
  /* font-weight:300; */
  --xbold-type: "Raleway", Arial, sans-serif;
  /* font-weight:900; */
  /* */
  /* */
  --vh-80: 80vh;
  --vh-100: 100vh;
  /* */
  --trans_lr_fadein: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  --trans_lr_fadeout: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  /*  */
  /* */
  /* RGB */
  --orange : rgba(255, 166, 89, 1);
  /* #FFA659 - orange */
  --light-purple: rgba(216, 184, 255, 1);
  --purple: rgba(188, 133, 255, 1);
  --dark-purple: rgba(139, 99, 189, 1);
  --dark-purple-50: rgba(139, 99, 189, 0.5);
  /* #BC85FF - purple */
  --green: rgba(80, 227, 194, 1);
  /* #50e3c2 - green */
  --dark-green: rgba(0, 140, 110, 1);
  /* dark-green #008C6E */
  --light-green: rgba(143, 237, 216, 1);
  --light-green-50: rgba(143, 237, 216, 0.5);
  /* #8fedd8 - light-green */
  --light-grey: rgba(153, 153, 153, 1);
  --light-grey-50: rgba(153, 153, 153, 0.5);

  --dark-grey: rgba(54, 54, 54, 1);
  --dark-grey-50: rgba(54, 54, 54, 0.5);
  /* #363636 - dark grey */
  /*  */
  /* GRADIENTS */
  --brand-grad-purp-green:background-image: linear-gradient(90deg, var(--main-secondary-color) 28%, var(--main-color) 100%);
  --brand-grad-green-dgrn:background-image: linear-gradient(134deg, var(--main-color) 0%, var(--main-color-dark) 100%);
  /*  */
  --playfair: 'Playfair Display', serif;
  /* */
  /* */
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body, div, p {
  /* font-family: effra, sans-serif; */
  font-family: var(--normal-type);
  /* font-weight:300; */
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--playfair);
  font-weight: 900;
  font-style: normal;
  color: var(--main-color);
}

a {color: unset; text-decoration: none;}
/* a:hover {text-decoration: underline;} */

/* - inelegant stickey footer - */
main {
  min-height: calc(100vh - 150px);
}
footer {
  height: 50px;
  padding: 20px;
  color: #222222;
  background-color: #50e3c2;
  font-size: .8em;
}

::selection {
  background: #50e3c2; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #50e3c2; /* Gecko Browsers */
}

/* typography */

h1, .h1 {
  font-size: 70px;
  line-height: 1.1;
}
@media screen and (min-width: 48em) and (max-width: 90em) {
  h1, .h1 {
    font-size: 5.125vw;
  }
}

/* Small Sreen / ≥ 568px */
@media screen and (max-width: 35.5em) {

}

/* Medium Sreen / ≥ 768px */
@media screen and (min-width: 48em) {

}

/* Large Sreen / ≥ 1024px */
@media screen and (min-width: 64em) {

}

/* Extra Large Sreen / ≥ 1280px */
@media screen and (min-width: 80em) {

}

/* Extra Large Sreen / ≥ 1440px */
@media screen and (min-width: 90em) {

}



/* animations */


.filter-animated {
  animation: filter-animation 5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes filter-animation {
  0% {
      filter: grayscale(0) ;
      /* brightness(1); */
  }

  100% {
      filter: grayscale(1) ;
      /* brightness(2); */
  }
}