/* home ( front matter ) --------------------------------- */



section.section-padding {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-padding ._info {
    /* padding-top: 15vh; */
}
@media only screen and (max-width: 36em) {
  .section-padding ._info {
    /* padding-top: 5vh; */
  }

}

.section-padding h1 {
    /* font-size: 70px; */
    font-size: 5.125vw;
    max-width: 800px;
}
@media only screen and (max-width: 36em) {
  .section-padding h1 {
    font-size: 50px;
  }
}
@media screen and (min-width: 64em) {
    .section-padding ._content {
      max-width: 40vw;
      /* margin-bottom: 4rem; */
  }
}
.section-padding ._content {
  /* max-width: 40vw; */
  margin-bottom: 4rem;
}

@media only screen and (max-width: 36em) {
  .section-padding ._content {
    max-width: unset;
    font-size: 20px;
  }

}

