/* work --------------------------------- */

  .work_text_wrap{
    max-width: 1200px;
    margin: 2rem auto;

  }
.work_hero_image_wrap img,
.work_item img {
  display: block;
  margin: 0 auto;
  /* object-fit: fill;
  max-width: unset;*/
  width: 100%;
}
.work_info { padding: 10vh 0 12vh ; }

.work_description {
  font-size: 1.4rem;
  font-weight: 300;
}

.work_description,
.work_body {
  max-width: 800px;
}

.work_item {
  position: relative;
}

.work_item-desc_bg {
  width: 100vw;
  height: 100px;
  position: absolute;
  display: block;
  z-index: 999;
  left: 50%;
  bottom:-50px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.work_item-desc {
  opacity: 0;
  display: block;
  position: absolute;
  bottom:0px;
  width: 100vw;
  height: 0;
  margin: 0;
  padding-top: 0;
  /* border-radius: 30vh; */
  margin-left: 50%;
  margin-right: 50%;
  /* background-color: rgba(80, 227, 194, 0.9); */
  background-color: rgba(54, 54, 54, 0.2);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /*  */
  transition: all 0.25s ease-in-out;
}

.work_item-desc_txt {
  color: white;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* background-color: rgba(54, 54, 54, 0.7); */
  padding: 5px 20px;
}

.work_item:hover .work_item-desc {
  opacity: 1;
  /*  */
  transition: all 0.5s ease-in-out;
  height: 80px;
  padding-top: 3rem;
  bottom:-40px;
}

.work_item-desc_bg:empty ,
.work_item-desc:empty ,
.work_item-desc_txt:empty {
  display: none;
}

/* max-width 768px, portrait tablet */
@media only screen and (max-width: 48em) {
  .work_info { padding: 10vh 15px 12vh ;}
}

.work_text_wrap {
  width: 90%;
  max-width: 90vw;
  margin: 2rem auto;
  clear: both;
}

/* Large Sreen / ≥ 1024px */
@media screen and (min-width: 64em) {

}

/* Extra Large Sreen / ≥ 1280px */
@media screen and (min-width: 80em) {
    .work_text_wrap, .section_wrap {
      max-width: 1200px;
    }
}
