/* no js hamburger dropdown nav CSS */


/* ********************************************* */
/* burger */
/* ********************************************* */

.burger-check {
  display: none;

}

.burger {
  display: none !important;
}
.navbar-list-mob{
    display: none;
}

@media (max-width: 64rem) { /* 749px */

  .burger-check {
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    width: 35px;
    height: 35px;
  }

  .burger, .burger-check {
    position: absolute;
    right: 0;
    top:50%;
  }

  .burger, .burger-check {
    display: block !important;
    float: right;
    margin-right: 5vw;
  }
  .burger-check {
    margin-right: 1rem;
  }
  .burger{
    /* margin-top: -45px; */
  }
  .burger-check{
    margin-top: -6px;
  }

  .burger {
    display: inline-block;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid var(--green);
    width: 28px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
  }
  .burger::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  .burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid var(--green);
    width: 100%;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
  .burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid var(--green);
    width: 100%;
    margin-bottom: 5px;
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }


  .burger-check:checked ~ .burger {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out;
  }
  .burger-check:checked ~ .burger:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
  .burger-check:checked ~ .burger:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: -webkit-transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }

  .navigation {
    overflow: hidden;
    max-height: 0;
    height: 0;
    -webkit-transition: all 0.5s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s ease-in-out;
    padding: 0;
        /* padding: 2em 0 0; */
    margin-top: 6px;
    background: rgba(45, 45, 45, 0.95);
    width:100%;
    position: relative;
    top:80px !important;
    /* top:0; */
    /* transform: translateY(11px); */
  }

  .burger-check:checked ~ .navigation {
    max-height: 100vh;
    height: 100vh;
    -webkit-transition: all 0.5s ease-in-out; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s ease-in-out;
    padding: 2em 0 0;
    margin-top: 6px;
    transform: translateY(0);
  }

  .navbar-list-mob{
      display: block;
  }

  ul.navbar-list {
    margin: 0;
    padding: 0;
    display: none;
    list-style: none;
  }
  /* ul.navbar-list, */
  li.navbar-item,
  /* ul.dropdown, */
  li.menu_item,
  li.menu_item-dropdown {
    display: inline-block !important;
    list-style: none !important;
    list-style-type: none !important;
  }

  li.navbar-item {
    list-style: none;
    font-size: 25px;
    /* padding: 5px 0; */
    margin-top: 2em /* */
  }
  li.navbar-item a.navbar-link {
    text-decoration: none;
  }
  li a:hover {
    /* text-decoration: underline; */
  }

}



a.menu_item[aria-current="page"],
a.active,
a.dropdown-item[aria-current="page"]{
  color: var(--main-color-dark)!important;
}


/* ********************************************* */
/* DESKTOP */
/* ********************************************* */

.navbar-list {
    display: none;
    list-style: none;
 }
.navbar-link {
    text-decoration: none;
}
li.navbar-item {
  font-size: 18px;
}

@media (min-width: 64.001rem and max-width: 83rem) {
  .navbar {
    max-width: 90vw;
    margin-left:calc((100vw - 90vw) / 2); /* 12.5vw */
  }
  .navbar, .navbar > .container {
      /* width: 80%; */
      max-width: 90vw;
  }
  ul.navbar-list, .navigation ul.navbar-list-mob, .navigation ul  {
    right:calc((100vw - 90vw) / 2);
  }
}

@media (min-width: 83.001rem) {
  /* Navbar */
  .navbar {
    max-width: 1200px;
    margin: 0 auto;
    width: 75vw;
    margin-left:calc((100vw - 1200px) / 2); /* 12.5vw */
  }
  .navbar, .navbar > .container {
    /* width: 80%; */
    max-width: 1200px;
  }
  ul.navbar-list, .navigation ul.navbar-list-mob {
    right:calc((100vw - 1200px) / 2);
  }
}

@media (min-width: 64.001rem) {

}

/* ul.navbar-list, */
li.navbar-item,
ul.dropdown,
li.menu_item,
li.menu_item-dropdown {
  display: block;
  list-style: none !important;
  list-style-type: none !important;
}


/*| Navigation |*/

nav, .navigation{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
  .navigation ul{
    list-style: none;
    position: relative;
    float: right;
    /* margin-right: 100px; */
    display: inline-table;
    /* margin: 0; */
  }
  .navigation ul{

  }
    .navigation ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }

    .navigation ul li:hover{
      /* background: rgba(0,0,0,.15); */
      color:#fff;
    }
    .navigation ul li{
      float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      margin-bottom: 0;
    }
      .navigation ul li a{
        display: block;
        padding: 30px 20px;
        color: var(--green);
        font-size: .9em;
        letter-spacing: 1px;
        text-decoration: none;
        /* text-transform: uppercase; */
      }
      .navigation ul li a.dropdown-toggle{
        height: 90px;
      }
      @media (max-width: 83rem) {
        .navigation ul li a.dropdown-toggle {
          height: auto !important;
        }
      }
      .navigation ul li a:hover{
        color:#fff;
      }

      .navigation ul ul.dropdown{
        display: none;
        /* background: var(--dark-grey); */
        /* background: rgba(45, 45, 45, 0.95); */
        position: absolute;
        top: 100%;
        min-width: 7rem;
        margin-top: 0;
        margin-left: -7rem;
        left: 0;
        text-align: left;
        float: right;
        width: 320px;
      }
      @media (min-width: 64.001rem) {
        .navigation ul ul.dropdown {
          opacity: 0;
          background: rgba(45, 45, 45, 0.95);
        }
        .navigation ul li:hover > ul {
          display: block;
          opacity: 1;
        }
      }

      .navigation ul li:hover ul.dropdown,
      .navigation ul li ul.dropdown {
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
        .navigation ul ul li{
          float: none;
          position: relative;
          /* margin-bottom: 2rem; */
        }
          .navigation ul ul li a {
            padding: 15px 30px;
            border-bottom: 1px solid rgba(0,0,0,.05);
          }
          .navigation ul ul li a:hover {
            background-color: var(--purple);
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
          }

          .navigation ul ul ul {
            position: absolute;
            left: 100%;
            top:0;
          }

/* Mobile */
@media only screen and (max-width: 64em) {
  /* .navigation {display:none} */
    .navigation ul.navbar-list-mob {
      margin-left: 0;
      margin-right: 0;
      float: none;
      width: 100%;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0;
    }
    .navigation ul.navbar-list-mob li {
      float: none;
      display: block !important;
      margin-top: 0;
    }
    .navigation ul.navbar-list-mob ul.dropdown{
      display: block;
      margin-left: 0;
      margin-right: 0;
      float: none;
      text-align: center;
      width:100%;

    }
    .navbar-item_dropdown {

    }
    .navigation ul.navbar-list-mob ul.dropdown li a,
    .navigation ul.navbar-list-mob li a {
      padding: 15px 30px;
    }

}
